<!doctype html>
<html lang="en">
  <head>
  	<title>Multiselect 06</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 text-center mb-5">
					<h2 class="heading-section">Multiselect #06</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-4 d-flex justify-content-center align-items-center">
					<select multiple data-placeholder="Add Language">
				    {{ form_filter.language}}
				    <!-- <option selected>Framer X</option> -->
<!--				    <option>jQuery</option>-->
<!--				    <option>HTML</option>-->
<!--				    <option>Wordpress</option>-->
<!--				    <option>PHP</option>-->
					</select>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

